<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.example.invest-agent.data-maintenance</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__PROJECT_ROOT__/scripts/run_scheduled_data_maintenance.sh</string>
  </array>
  <key>WorkingDirectory</key><string>__PROJECT_ROOT__</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Weekday</key><integer>6</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Weekday</key><integer>7</integer><key>Hour</key><integer>23</integer><key>Minute</key><integer>55</integer></dict>
  </array>
  <key>LowPriorityIO</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>__PROJECT_ROOT__/data/private/automation/data-maintenance.stdout.log</string>
  <key>StandardErrorPath</key><string>__PROJECT_ROOT__/data/private/automation/data-maintenance.stderr.log</string>
</dict>
</plist>
